BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	OVERFLOW-Y: scroll; FONT-FAMILY: "Î¢ÈíÑÅºÚ" Arial; COLOR: #585858; FONT-SIZE: 14px; 
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
A {
	COLOR: #0086be; TEXT-DECORATION: none
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px; CONTENT: " "
}
.clearfix {
	ZOOM: 1; DISPLAY: block
}
.clearfix:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px; CONTENT: ' '
}
.step {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 10px; MARGIN: 20px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 10px
}
#goodslist LI {
	BORDER-BOTTOM: #e4e4e4 1px solid; POSITION: relative; BORDER-LEFT: #e4e4e4 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 140px; PADDING-RIGHT: 1px; MARGIN-BOTTOM: 10px; BACKGROUND: #fff; FLOAT: left; HEIGHT: 215px; FONT-SIZE: 12px; BORDER-TOP: #e4e4e4 1px solid; CURSOR: pointer; MARGIN-RIGHT: 10px; BORDER-RIGHT: #e4e4e4 1px solid; PADDING-TOP: 1px
}
#goodslist LI IMG {
	MARGIN: 10px; WIDTH: 120px; HEIGHT: 120px
}
#goodslist LI .title {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 150%; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #f2f2f2; HEIGHT: 38px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#edittable LI {
	PADDING-LEFT: 8px; FLOAT: left
}
#header {
	BACKGROUND: #394045; HEIGHT: 86px
}
.btmbtm {
	MARGIN: 0px auto; 
        WIDTH: 990px;
        MARGIN-top: 15px; 
}
.wrap {
	MARGIN: 0px auto; WIDTH: 990px
}
.logo {
	FONT-FAMILY: "Microsoft Yahei",Arial; HEIGHT: 86px
}
#logo {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 50px; FLOAT: left; PADDING-TOP: 0px
}
#nav {
	HEIGHT: 52px; PADDING-TOP: 34px
}
#nav A {
	POSITION: relative; PADDING-BOTTOM: 4px; LINE-HEIGHT: 16px; PADDING-LEFT: 17px; PADDING-RIGHT: 17px; DISPLAY: inline-block; FONT-FAMILY: "Microsoft Yahei",Arial; HEIGHT: 16px; COLOR: #dfdfdf; FONT-SIZE: 16px; BORDER-RIGHT: #25292c 1px solid; PADDING-TOP: 0px
}
#nav .home_new {
	PADDING-LEFT: 20px; BACKGROUND: url(../common/home1.gif) no-repeat
}
#nav A EM {
	Z-INDEX: 9989; POSITION: absolute; WIDTH: 24px; BOTTOM: -32px; BACKGROUND: url(../common/home_pic_new.gif) no-repeat; HEIGHT: 12px; OVERFLOW: hidden; LEFT: 34%
}
#body {
	PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "Microsoft Yahei",Arial; 
}
#content {
	BACKGROUND-COLOR: #fff; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; 
}
#footer {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #2a2a2a; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: #bababa 6px solid; PADDING-TOP: 20px
}
DIV.section {
	LINE-HEIGHT: 20px; FLOAT: left; COLOR: #919191
}
DIV.section H3 {
	COLOR: #ececec; FONT-SIZE: 14px
}
.l.section A {
	DISPLAY: inline-block; COLOR: #919191
}
.f.section {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 20px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DIV.b.section {
	BORDER-LEFT: #161616 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-RIGHT: #454545 1px solid; PADDING-TOP: 0px
}
DIV.border {
	BORDER-LEFT: #454545 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; BORDER-RIGHT: #161616 1px solid; PADDING-TOP: 0px
}
.l.section {
	PADDING-LEFT: 30px; WIDTH: 252px; COLOR: #3d3d3d
}
.footer_bottom {
	TEXT-ALIGN: center; MARGIN: 0px auto; WIDTH: 990px; PADDING-TOP: 20px
}
.footer_bottom DIV {
	LINE-HEIGHT: 20px
}
.footer_bottom A {
	DISPLAY: inline-block; COLOR: #919191
}
.footer_bottom A {
	DISPLAY: inline-block; COLOR: #919191
}
