body, button, input, select, textarea a {
	font: 14px/1.5 "微软雅黑", Verdana, Geneva, sans-serif;
	color: #666;
	background: #f1f1f1;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, iframe, button, textarea, p, blockquote, th, td, img {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
}
address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: normal;
}
html {
	color: #333333;
}
fieldset, img, iframe, button {
	border: 0;
	text-decoration: none;
}
/**:focus{outline: 0;}*/ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
}
header, footer, article, section, nav {
	display: block;
}
a {
	outline: none;/* for Forefox*/
	cursor: pointer;
	text-decoration: none;
	color: #000;
}
a:hover {
	color: #F60;/* for Ie*/
}
input {
	outline: none;
}
em {
	font-style: normal;
}
input, select, img {
	vertical-align: middle;
}
textarea {
	outline: none;
	resize: none;
}
h1, h2, h3, h4, h5, h6, .fs14 {
	font-size: 14px;
	font-family: "Microsoft YaHei", Verdana, Geneva, sans-serif;
}
a img {
	border: none;
}
i {
	font-style: normal;
}
a {
	color: #666;
}
a:hover, a:active {
	color: #f60;
}
.clear {
	clear: both;
}
.bold {
	font-weight: bold;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	line-height: 0;
}
.clearfix {
	zoom: 1;
}
.mt10 {
	margin-top: 10px;
}
.mt15 {
	margin-top: 15px;
}
.mb20 {
	margin-bottom: 20px;
}
.mr15{ margin-right:15px;}
.bk, .bk3, .bk6, .bk8, .bk10, .bk14, .bk30, .bk40 {
	clear: both;
	font-size: 0;
	height: 0;
	overflow: hidden;
}
.bk5 {
	height: 5px;
}
.bk8 {
	height: 8px;
}
.bk10 {
	height: 10px;
}
.bk14 {
	height: 14px;
}
.bk30 {
	height: 20px;
}
.bk40 {
	height: 40px;
}
.lft {
	float: left;
}
.rgt {
	float: right;
}
.wrapper {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	height: auto;
	overflow: hidden;
}
.ovh {
	overflow: hidden;
	height: auto;
}
/*头部*/
.header {
	height: 120px;
	background: #FFF;
	font-family: "Microsoft YaHei", Verdana, Geneva, sans-serif;
	overflow: hidden;
}
.header .logo {
	float: left;
	margin-top: 15px;
}
.header .logo a {
	float: left;
	margin-right: 40px;
}
.searchbar {
	float: left;
	width: 470px;
	margin-top: 34px;
}
.searchbar .search {
	height: 40px;
}
.searchbar .search .text {
	padding: 7px 10px 7px 35px;
	width: 327px;
	float: left;
	border: 2px solid #ff8400;
	height: 20px;
	font-size: 14px;
	font-family: "Microsoft YaHei", Verdana, Geneva, sans-serif;
	background:url(../images/soso.jpg) no-repeat 10px 10px;
}
.searchbar .search .submit {
	cursor: pointer;
	border: none;
	font-size: 16px;
	font-family: "Microsoft YaHei", Verdana, Geneva, sans-serif;
	color: #fff;
	width: 94px;
	height: 38px;
	background: #ff8400;
	vertical-align: middle;
	float: right;
}
.searchbar .hot-word {
	padding-top: 3px;
}
.searchbar .hot-word strong {
	font-weight: normal;
	color: #999;
}
.navbar {
	background: #ff8400;
	height: 45px;
	font-family: "Microsoft YaHei", Verdana, Geneva, sans-serif;
}
.navbar .nav {
	float: left;
	line-height: 45px;
	height: 45px;
}
.navbar .nav li {
	float: left;
	padding: 0 6px;
}
.navbar .nav li a {
	display: block;
	float: left;
	line-height: 45px;
	height: 45px;
	color: #fff;
	font-size: 14px;
	padding: 0 15px;
}
.navbar .nav li a:hover {
	background: #fc6901;
	color: #fff;
	text-decoration: none;
}
.navbar .pub-btn:hover {
	color: #fff;
}
.rightbox {
	width: 320px;
	overflow: hidden;
}
.rightbox .indexleft {
	width: 320px;
	height: auto;
	overflow: hidden;
	text-align: center;
}
.rightbox .indexleft h2 {
	width: 320px;
	text-indent: 20px;
	font-weight: normal;
	color: #FFF;
	height: 45px;
	line-height: 45px;
	background: #ff8400;
	border-left: 5px solid #ff4400;
	text-align:left;
}
.rightbox .indexleft h2 font {
	display: block;
	float: left;
}
.rightbox .indexleft h2 a {
	display: block;
	float: right;
	margin-right: 20px;
	color: #FFF;
}
.rightbox .indexleft span {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #FFF;
	display: block;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.rightbox .indexleft img {
	width: 300px;
	margin: 0 auto;
	display: block;
	margin-top: 15px;
}
.rightbox .indexleft ul {
	width: 320px;
	height: auto;
	overflow: hidden;
	padding-bottom: 20px;
	margin-bottom: 15px;
	background: #FFF;
}
.rightbox .indexleft li {
	width: 300px;
	margin: 0 auto;
	height: 195px;
}
.rightbox .indexleft .tuijian ul{ padding-top:10px;}
.rightbox .indexleft .tuijian li {
	width: 280px;
	text-align:left;
	margin:0 auto;
	height:30px;
	line-height:30px;
	background:url(../images/dian.png) no-repeat 0px 13px;
	text-indent:10px;
}

.rightbox .indexleft li img {
	width: 270px;
	height: 160px;
	display: block;
	margin-top: 10px;
}
.rightbox .indexleft li span a {
	width: 300px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #ff8400;
}
.leftbox {
	width: 870px;
	height: auto;
	overflow: hidden;
}
.leftbox h2 {
	width: 866px;
	border-left: 4px solid #ff4400;
	background: #FFF;
	height: 45px;
	line-height: 45px;
	font-weight: normal;
	text-indent: 15px;
	font-size: 15px;
}
.leftbox .title {
	width: 866px;
	border-left: 4px solid #c3c3c3;
	background: #FFF;
	height: 45px;
	line-height: 45px;
	font-weight: normal;
	text-indent: 15px;
	font-size: 15px;
}
.leftbox .title span {
	display: block;
	float: left;
}
.leftbox .title a {
	display: block;
	float: right;
	margin-right: 15px;
}
.leftbox .wzlb {
	width: 870px;
	display: block;
	height: auto;
	overflow: hidden;
	margin-bottom: 15px;
	padding-bottom: 20px;
	background: #FFF;
	margin-top: 1px;
}
.leftbox .wzlb li {
	width: 156px;
	height: 286px;
	display: block;
	float: left;
	margin-left: 15px;
	margin-top: 15px;
}
.leftbox .wzlb li img {
	width: 156px;
	height: 246px;
}
.leftbox .wzlb li span a {
	width: 146px;
	height: 40px;
	display: block;
	line-height: 40px;
	background: #666;
	color: #FFF;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}
.leftbox .wzlb li span a:hover {
	background: #F60;
}
.leftbox .wzlb01 {
	width: 870px;
	display: block;
	height: auto;
	overflow: hidden;
	margin-bottom: 15px;
	padding-bottom: 20px;
	background: #FFF;
	margin-top: 1px;
}
.leftbox .wzlb01 li {
	width: 158px;
	height: 166px;
	display: block;
	float: left;
	margin-left: 15px;
	margin-top: 15px;
}
.leftbox .wzlb01 li img {
	width: 156px;
	height: 124px;
}
.leftbox .wzlb01 li span a {
	width: 146px;
	height: 40px;
	display: block;
	line-height: 40px;
	background: #666;
	color: #FFF;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}
.leftbox .wzlb01 li span a:hover {
	background: #F60;
}
.focusBox {
	position: relative;
	overflow: hidden;
	text-align: left;
	width: 350px;
	margin-top: 15px;
	padding: 20px;
	height: 375px;
	margin-bottom: 18px;
	background: #FFF;
	display: block;
	float: left;
}
.focusBox .pic {
	width: 350px;
	height: 370px;
}
.focusBox .pic img {
	width: 350px;
	height: 370px;
	display: block;
}
.focusBox .num {
	position: absolute;
	z-index: 3;
	bottom: 35px;
	right: 35px;
	text-align: right;
	width: 350px;
}
.focusBox .num li {
	display: inline-block;
*display:inline;
	zoom: 1;
	position: relative;
	overflow: hidden;
	text-align: center;
	margin: 0 1px;
	cursor: pointer;
	height: 22px;
	border-radius: 50%;
	line-height: 4px;
	width: 22px;
	background: #999;
	list-style-type: demical;
	color: #FFF;
	text-align: center;
	line-height: 22px;
	font-size: 14px;
}
.focusBox .num li a {
	position: absolute;
	z-index: 2;
	display: block;
	color: white;
	width: 100%;
	height: 22px;
	top: 0;
	left: 0;
	text-decoration: none;
}
.focusBox .num li.on a, .focusBox .num a:hover {
	background: #ff4400;
}
.newsright {
	width: 460px;
	background: #FFF;
	display: block;
	float: left;
	height: 380px;
	padding: 20px;
	padding-left: 0px;
	padding-top: 15px;
	margin-top: 15px;
}
.newsright li {
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	background: url(../images/newbg.png) no-repeat 0px 12px;
	text-indent: 15px;
}
.guanggao01 {
	width: 400px;
	height: 67px;
	display: block;
	float:right;
	margin-top:30px;
}
.guanggao02 {
	width: 860px;
	height: 78px;
	display: block;
	margin-bottom: 15px;
}
.home_col {
	width: 320px;
}
.home_col .item {
	float: left;
	width: 318px;
	height: auto;
	overflow: hidden;
	overflow: hidden;
	margin-right: 35px;
	margin-bottom: 10px;
	border: 1px solid #CCC;
	background: #FFF;
}
.home_col .item .hd {
	height: 45px;
	line-height: 45px;
	background: #ff4400;
}
.home_col .item .hd h2 {
	font-size: 16px;
	color: #fff;
	background: url(../images/cd.png) no-repeat 30px 15px;
	text-indent: 60px;
	font-weight: normal;
}
.home_col .item .bd .view {
	height: auto;
	overflow: hidden;
	padding-top: 10px;
	background: #FFF;
	padding-bottom: 10px;
}
.home_col .item .bd {
	padding-top: 5px;
	height: auto;
	overflow: hidden;
}
.home_col .item .bd .view h3 {
	border-left: 5px solid #ff4400;
	height: 18px;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #ff8400;
	text-indent: 15px;
}
.home_col .item .bd .view span {
	width: 90%;
	margin: 0 auto;
	line-height: 25px;
	height: auto;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
	border-bottom: 1px solid #CCC;
}
.home_col .item .bd .view span a {
	color: #999;
	font-size: 14px;
}
.home_col .item .bd .view span a:hover {
	color: #F63;
}
.news01{ width:594px; height:auto; overflow:hidden; display:block; float:left;}
.news01 h2{
	width:600px;
	text-indent: 20px;
    font-weight: normal;
    height: 45px;
    line-height: 45px;
    background: #fff;
    border-left: 5px solid #ff4400;
	}
	.news01 h2 span{ display:block; float:left;}
	.news01 h2 a{ display:block; float:right; margin-right:20px;}
	.news01 ul{ width:560px; padding:20px; background:#FFF; margin-top:10px;}
	.news01 li {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    background: url(../images/newbg.png) no-repeat 0px 12px;
    text-indent: 15px;
}
.news02{ width:594px; height:auto; overflow:hidden; display:block; float:right;}
.news02 h2{
	width:600px;
	text-indent: 20px;
    font-weight: normal;
    height: 45px;
    line-height: 45px;
    background: #fff;
    border-left: 5px solid #ff4400;
	}
	.news02 h2 span{ display:block; float:left;}
	.news02 h2 a{ display:block; float:right; margin-right:20px;}
	.news02 ul{ width:560px; padding:20px; background:#FFF; margin-top:10px;}
	.news02 li {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    background: url(../images/newbg.png) no-repeat 0px 12px;
    text-indent: 15px;
}
.list{ width:870px; display:block; height:auto; overflow:hidden; background:#FFF;margin-top:15px;}
.list ul{ padding:20px; display:block; }
.list li{ width:100%; height:158px; margin-bottom:15px; padding-bottom:10px; overflow:hidden; border-bottom:1px solid #f1f1f1;}
.list li img{ width:214px; height:150px; display:block; float:left;}
.list li span{ width:600px; display:block; float:right; height:auto; overflow:hidden;}
.list li span h2{ font-size:16px; width:100%; height:36px; line-height:36px; border:0; text-indent:0px;}
.list li span font{ font-size:12px; padding-top:5px; padding-bottom:5px;}
.list li span font b{ color:#ff8400; font-weight:normal;}
.list li span p{ line-height:22px; height:63px; margin-top:5px; overflow:hidden; width:100%; color:#999;}
.list li span strong a{ font-weight:normal; color:#ff8400; display:block; height:40px; line-height:40px;}
.page{ width:95%; margin:0 auto; display:block; text-align:center; margin-bottom:25px;}
.page a{ display:inline-block; text-align:center; margin-left:8px; height:35px; width:35px; border:1px solid #CCC; line-height:35px;}
.page a:hover{background:#F63; color:#FFF;}
.page .fy{ width:60px;}
.page .hover{ background:#F63; color:#FFF;}
.listcenter{ width:870px; display:block; height:auto; padding-bottom:20px; overflow:hidden; background:#FFF;margin-top:15px;}
.listcenter h2{ width:95%;height:auto; overflow:hidden; border-bottom:1px solid #f1f1f1; padding-top:10px; margin:0 auto; line-height:45px; border-left:0; text-align:center;}
.listcenter span{ text-align:center; height:35px; line-height:35px; display:block; }
.listcenter span b{font-weight:normal; color:#ff8400;}
.listcenter strong{ font-weight:normal;  text-align:center; height:55px; display:block; width:395px; margin:0 auto;}
.listcenter strong span{ line-height:16px;}
.listcenter strong span a{ display:inline-block; text-align:center;}
.listcenter strong #bdshare{ text-align:center;}
.listcenter .cent{ line-height:25px; height:auto; padding:20px; overflow:hidden; padding-top:0px;}
.listcenter .ding{ padding:20px; background:#f1f1f1; height:auto; overflow:hidden; width:90%; margin:0 auto;}
.listcenter .ding .d{ width:90px; margin-top:10px; height:45px; line-height:45px; color:#FFF; background:#F63; text-align:center; display:block; float:left; border-radius:10px;}
.listcenter .ding .s{ display:block; float:left; width:500px; line-height:25px; margin-left:20px;}
.listcenter .ding .s span{ color:#F60; display:inline-block;}
 .xiangguan{ width:100%; height:auto; overflow:hidden; display:block; padding-bottom:25px; background:#FFF; margin-top:15px;}
  .xiangguan h2{ background:#ff8400; border:0; color:#FFF;}
  .xiangguan li{ width:190px; height:160px; display:block; margin-left:20px; float:left; text-align:center; margin-top:20px;}
  .xiangguan li img{ width:190px; height:122px; display:block; border:1px solid #CCC;}
  .xiangguan li span{ width:190px; height:42px; line-height:42px; display:block; text-align:center;}


.links{ width:1200px; margin:0 auto; height:auto; overflow:hidden; background:#FFF; padding-top:20px; padding-bottom:20px;}
.links h2{height: 45px; font-weight:normal;
    line-height: 45px; width:95%; margin:0 auto; border-bottom:1px solid #CCC;}	
	.links h2 span{ font-size:16px; color:#333;}
	.links h2 font{ color:#999;}
	
	.links .lcenter{ width:95%; margin:0 auto; line-height:27px; padding-top:10px;}
	
.footer {
	background: #676767;
	width: 100%;
	padding-top: 30px;
	color: #FFF;
	text-align: center;
	line-height: 35px;
	padding-bottom: 30px;
}
.footer a{ color:#FFF;}
